# See http://help.github.com/ignore-files/ for more about ignoring files.

# Ignore everything in the chronicle-frontend folder except what is explicitly tracked
/chronicle-frontend/*
!/chronicle-frontend/.gitignore
!/chronicle-frontend/**/

